/* CSS in progress - updated each classtime */

body {
    background-color: antiquewhite;
}

/*  menu nav bar */

/* ADDED styling here for list menu demo */
  nav ul {
    display: block;
    background-color: gainsboro;
    padding: 20px;
    list-style: none;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: maroon;
    display: flex;
    justify-content: space-evenly;
 }

/* ADDED styling here for hover for menu-from-UL-list demo */

nav li:hover {
    background-color:yellow
}

#special-item {
    color:red;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: magenta;
}

h2 {
    font-family: 'Courier Prime', monospace;
    font-size: 1.2em;
}

/* ADDED centering the h2s that are also image galleries */

.image-gallery {
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    color: darkblue; 
    font-size: 1.1em;
}

figcaption {
    font-size: .75em;
    font-style:italic;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    background-color: #dddddd;
    padding: 10px;   
    margin: 20px;
    border-radius: 25px;  
}

/* styling the data table here */

th, td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 6px;  
    border-color: #FFFFFF;
    border-collapse: collapse;
    text-align: right;
}

/* styling the line item markers to circles */

ul {
    list-style: circle;
}

/* unvisited link */

a:link {
    color: blue;
}

/* visited link */

p a:visited {
    color: olivedrab;
}

/* mouse over link */

a:hover {
    color: #FF00FF;
}


/* footer to be styled further */

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    color: gray;
}

/* more styling based on classes */

.image-gallery {
    font-family: 'Courier Prime', monospace;
    color:cornflowerblue;
    font-size: 1.4em;
}

.listing {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    background-color: #dddddd;
    width:fit-content;
    padding: 20px;
    border-radius: 25px; 
}

/* ADDING flexbox to content sections - class 07 and 08 */

.graphics-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-evenly;
  }
  
/* ADDING overlays */
/* bug during class was not here in CSS code blocks but was due to missing class in HTML */

/* ADDING main overlay - how it will look before hover */
/* note opacity setting of 0 to be invisible */


.portfolio-overlay {
    display: block;
    /* starting opacity 0 so invisible UNTIL HOVER */
    opacity: 0;
    background-color: aqua;
    /* position is important here and on what it overlays */
    position: absolute;
    height: 30%;
    width: 80%;
    padding: 10px;
    bottom: 10%;
    left: 10%;
}

/* code for what happens when image is hovered */

.portfolio-hover {
    position: relative;
}

.portfolio-hover:hover .portfolio-overlay {
    opacity: 0.7;
}

/* code for sytling the text that is inside the hover box */

.overlay-text {
    color: rgb(84, 84, 4);
    font-size: 1.1em;
    margin: 0;
    position: absolute;
    left: 10%;
    right: 10%;
    text-align: center;
    bottom: 20%;
  }


/* SECTION BEGINS HERE of code not covered in class */

/* ADDED addt'l classes in HTML to go with these styles below */
/* ADDED addt'l flexbox to these sections here */
/* each image-text pair is a row and stays together */

.documentation-row-01 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start space-around;
}

.documentation-row-02 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start space-around;
}

.descriptor p {
    padding-top: 40px;
    padding-left: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    color:black;
    font-style:italic;
}

.story {
    font-family: 'Roboto', sans-serif;
}

/* SECTION ENDS */

/* styling based on a unique ID */

#summary {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    color: magenta;
}
